.cartSection
{
	border-color:		grey;
	border-top-width:		10px;
	border-bottom-width: 10px;
	border-style:		solid;
	padding-left:		4.5%;
	padding-right:	4.5%;
	width: 91%;
}

.cartProduct
{
	display:			inline-block;
	width:				120px;
	margin:				0px 45px 10px 45px;
	font-size:		12px;
	text-align: center;
}

.cartProductPic
{
  border-color:		black;
	border-width:		3px;
	border-style:		solid;
	width:					100%;
}

.cartText
{
	margin-bottom:	20px;
	margin-top:			20px;
	width:					100%;
	font-size:			25px;
}

#cartHeader
{
	display: inline-block;
	margin: 		1%;
	text-align:	left;
	width:			48%;
}

#cartTotal
{
	display: inline-block;
	margin:			1%;
	text-align:	right;
	width:			48%;
}

.cartOption
{
	display:		block;
	width:			100%;
	margin-top:	5px;
}

.cartProductPrice
{
	display:		block;
	width:			100%;
	margin-top:	5px;
	text-align: center;
	font-weight: bold;
}

.removeCartItemButton
{
	margin:						15px;
	border:						none;
	background-color: white;
	text-decoration: underline;
	margin-left: auto;
	margin-right: auto;
}

.removeCartItemButton:hover
{
	font-weight: bold;
}

#emptyCart
{
	text-align: center;
	font-weight: 200;
	font-size:	24px;
}

.searchSection
{
	width: 100%;
	margin-top:			5px;
}

#searchInput
{
	width:					300px;
}

.searchSegment
{
	margin-left:		40px;
}